@import "./variables.scss";

.block__loader {
    background-color: white;
    -webkit-animation: bk 3s cubic-bezier(.78,.12,.21,1.01);
    -o-animation: bk 3s cubic-bezier(.78,.12,.21,1.01);
    animation: bk 3s cubic-bezier(.78,.12,.21,1.01);
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 4;
    animation-fill-mode: forwards;
}
@-webkit-keyframes bk {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -10;
        
    }
}

@keyframes bk {
    0% {
        
        opacity: 1;
    }
    100% {
        
        opacity: 0;
        z-index: -10;
    }
}

.loader {
    border-top: 10px solid $color-primaire;
    border-bottom: 10px solid $color-secondaire;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 3s cubic-bezier(.78,.12,.21,1.01);
    -o-animation: spin 3s cubic-bezier(.78,.12,.21,1.01);
    animation: spin 3s cubic-bezier(.78,.12,.21,1.01);
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 4;
    animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
        z-index: -10;
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
        z-index: -10;
    }
}