@mixin button-background {
    background: rgb(147,86,220);
    background: -moz-linear-gradient(354deg, rgba(147,86,220,1) 39%, rgba(255,121,218,1) 100%);
    background: -webkit-linear-gradient(354deg, rgba(147,86,220,1) 39%, rgba(255,121,218,1) 100%);
    background: linear-gradient(354deg, rgba(147,86,220,1) 39%, rgba(255,121,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);   
}

@mixin box--shadow {
    box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 3px 6px 8px 0px rgba(0,0,0,0.21);
}