@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/****** variables & mixins ******/
/****** style global site ******/
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/****** class repet ******/
.box--shadow {
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.21);
}

.button--background {
  background: #9356dc;
  background: linear-gradient(354deg, #9356dc 39%, #ff79da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
}

/****** Début header ******/
.header__block-logo {
  padding: 5px 0;
}

.header__block-logo .logo {
  text-align: center;
  margin: auto;
  font-size: 24px;
}

/****** Début section position ******/
.position-city {
  background-color: #dedede;
}

.position-city__block-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 17px;
          column-gap: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  -webkit-box-shadow: inset 0 7px 7px -8px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 7px 7px -8px rgba(0, 0, 0, 0.4);
}

.position-city__block-icon {
  padding-bottom: 4px;
}

.position-city .fa-map-marker-alt {
  font-size: 14px;
  color: #262626;
}

.position-city__block-text p {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}

/****** Début section présentation ******/
@media screen and (min-width: 575px) {
  .presentation-functioning-no-mobil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 820px) {
  .presentation-functioning-no-mobil {
    display: block;
  }
}

.presentation {
  background-color: #ebebeb;
}

@media screen and (min-width: 575px) {
  .presentation {
    width: 50%;
  }
}

@media screen and (min-width: 820px) {
  .presentation {
    width: 100%;
  }
}

.presentation__block-all {
  padding: 40px 0 60px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.presentation__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.presentation__block-text h2 {
  font-size: 22px;
  padding: 0 60px;
}

.presentation__block-text p {
  padding: 0 30px;
  color: #595959;
}

.presentation__button {
  padding: 0.8em 1em;
  border-radius: 25px;
}

.presentation a {
  color: white;
  font-size: 15px;
}

/****** Début section functioning ******/
.functioning {
  padding: 30px 0;
}

@media screen and (min-width: 575px) {
  .functioning {
    width: 50%;
  }
}

@media screen and (min-width: 820px) {
  .functioning {
    width: 100%;
  }
}

.functioning h2 {
  font-size: 20px;
  margin: 0 0 20px 12px;
}

@media screen and (min-width: 575px) {
  .functioning h2 {
    text-align: center;
  }
}

@media screen and (min-width: 820px) {
  .functioning h2 {
    text-align: center;
  }
}

@media screen and (min-width: 820px) {
  .functioning__block-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.functioning__block {
  margin: 0 20px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: #ebebeb;
  position: relative;
  margin-bottom: 25px;
}

@media screen and (min-width: 820px) {
  .functioning__block {
    width: 33%;
  }
}

.functioning__block:hover {
  background-color: #e9ddf8;
}

.functioning__block-num {
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 50%;
  left: -8px;
  text-align: center;
  background-color: #9356DC;
}

.functioning__num {
  color: white;
  font-size: 11px;
}

.functioning__icon-and-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-left: 10%;
}

.functioning__block-icon {
  width: 18px;
}

.functioning .fa-list-ul, .functioning .fa-store, .functioning .fa-mobile-alt {
  font-size: 14px;
  color: #525252;
}

.functioning .fa-list-ul:hover, .functioning .fa-store:hover, .functioning .fa-mobile-alt:hover {
  color: #732acb;
}

.functioning h4 {
  font-size: 14px;
}

/****** Début section restaurants******/
.restaurants {
  padding: 40px 18px;
  background-color: #ebebeb;
}

.restaurants h2 {
  font-size: 20px;
  margin: 0 0 20px 12px;
}

@media screen and (min-width: 575px) {
  .restaurants h2 {
    text-align: center;
  }
}

@media screen and (min-width: 820px) {
  .restaurants h2 {
    text-align: center;
  }
}

.restaurants__block-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.restaurants__block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

@media screen and (min-width: 575px) {
  .restaurants__block-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

.restaurants__block-card {
  height: 250px;
  position: relative;
  border-radius: 10px;
}

@media screen and (min-width: 575px) {
  .restaurants__block-card {
    width: 50%;
  }
}

.restaurants__block-img {
  height: 70%;
  width: 100%;
  border-radius: 10px;
}

.restaurants__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.restaurants__block-text-icon {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 0 12px;
  border-radius: 0 0 15px 15px;
}

.restaurants__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.restaurants__block-news {
  position: absolute;
  top: 20px;
  right: 10px;
}

.restaurants__block-news p {
  background-color: #99E2D0;
  color: #299077;
  font-weight: 500;
  padding: 0.4em 0.7em;
  border-radius: 5px;
}

/****** Début section footer******/
.footer {
  background-color: #383838;
  color: white;
  padding: 20px 12px;
}

.footer h1 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

@media screen and (min-width: 575px) {
  .footer h1 {
    text-align: center;
  }
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7px;
}

@media screen and (min-width: 575px) {
  .footer ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer li, .footer a {
  font-size: 12px;
  color: white;
}

.footer .fa-utensils, .footer .fa-hands-helping {
  width: 10px;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */