@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


/****** variables & mixins ******/
@import "./variables.scss";
@import "./mixins.scss";

/****** style global site ******/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/****** class repet ******/

.box--shadow {
    @include box--shadow;
    &:hover {
        @include box--shadow--hover;
    }
}

.button--background {
    @include button-background;
    &:hover {
        @include button--background--hover;
    }
}

/****** Début header ******/
.header {
    &__block-all {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        position: relative;
    }
    &__block-icon {
        position: absolute;
        top: 12px;
        left: 0;
        padding-left: 12px ;
    }
    &__logo {
    font-size: 27px;
    }
    &__block-icon {
        font-size: 20px;
    }
}

/****** Début section image-menu******/

.image-menu {
    &__block-img {
        height: 280px;
        width: 100%;
        @media screen and(min-width: 575px) {
            height: 350px;
        }
        @media screen and(min-width: 820px) {
            height: 450px;
        }
        @media screen and(min-width: 1020px) {
            height: 600px;
        }
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/****** Début section menu ******/

main {
    position: relative;
    top: -40px
}
.menu {
    border-radius: 30px 30px 0 0;
    background-color: lighten(black, 92);
    margin-bottom: -40px;
    padding-bottom: 20px;
    &__en-tete {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 0px 20px 10px;
        column-gap: 25px;
        @media screen and(min-width: 575px) {
            justify-content: center;
        }
    }
    &__block-icon {
        font-size: 24px;
        .fa-heart {
            background-color: transparent;
            transition: color 300ms ease-in;
            &:hover {
                background: linear-gradient(180deg, $color-primaire 25%, $color-secondaire 100%);
                background: -webkit-linear-gradient(180deg, $color-primaire 25%, $color-secondaire 100%);
                color: transparent;
                font-weight: bold;
                background-clip: text;
                -webkit-background-clip: text;
            }
        }
    }
    &__block-repas {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        overflow: hidden;
    }
    &__block-entrees, &__block-plats, &__block-desserts {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        @media screen and(min-width: 575px) {
            width: 70%;
            margin: auto;
        }
        @media screen and(min-width: 820px) {
            width: 50%;
        }
    }

    &__type-plats {
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 15px;
        &::after {
            content: "";
            margin-top: 4px;
            display: block;
            width: 40px;
            height: 2px;
            background: darken($color-tertiaire, 20);
        }
    }
    &__block-card {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 10px;
        background-color: white;
        height: 60px;
        overflow: hidden;
    }
    &__block-text {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 50px;
        flex-grow: 2;
        padding: 10px 0 10px 10px;
        p {
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: lighten(black, 35);
        }
        h4 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &__block-price {
        margin-right: 10px;
        padding-bottom: 10px;
        p {
            font-size: 14px;
            font-weight: bold;
        }
    }
    &__block-button {
        margin: 35px 0 55px 0;
        display: flex;
        justify-content: center;
    }
    &__button {
        padding: 0.8em 3em;
        border-radius: 25px;
    }
    a {
        color: white;
        font-size: 15px;
    }
    &__block-check {
        height: 60px;
        background-color:lighten($color-tertiaire,7);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5px;
        opacity: 0;
        
        .fa-check-circle {
            color: white;
            font-size: 19px;
            font-weight: bold;
        }
    }   
}
.menu__block-card:not(:active) .menu__block-check {
    
    animation: swipe-left 1.5s cubic-bezier(.87,.01,.46,.87);
    -moz-animation: swipe-left  1.5s cubic-bezier(.87,.01,.46,.87); /* Firefox */
    -webkit-animation: swipe-left  1.5s cubic-bezier(.87,.01,.46,.87); /* Safari et Chrome */
    -o-animation: swipe-left 1.5s cubic-bezier(.87,.01,.46,.87); /* Opera */
}
@keyframes swipe-left  {
    from {
        width: 5px;
        opacity: 1;
        
    }
    to {
        width: 50px;
        opacity: 1;
    }
}
@-moz-keyframes swipe-left { /* sur Firefox */
    from {
        width: 5px;
        
    }
    to {
        width: 50px;
        opacity: 1;
        
    }
}
@-webkit-keyframes swipe-left { /* sur Safari et Chrome */
    from {
        width: 5px;
        opacity: 1;
    }
    to {
        width: 50px;
        opacity: 1;
    }
}
@-o-keyframes swipe-left { /* sur Opera */
    from {
        width: 5px;
        opacity: 1;
    }
    to {
        width: 50px;
        opacity: 1;
    }
}

@import "../partiels/fade-in-keyframes";



/****** Début section footer******/
.footer {
    background-color: lighten(black, 22);
    color: white;
    padding: 20px 12px;
    h1 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
        @media screen and(min-width: 575px) {
            text-align: center;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        @media screen and(min-width: 575px) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    li, a {
        font-size: 12px;
        color: white;
    }
    
    .fa-utensils, .fa-hands-helping {
        width: 10px;
        margin-right: 10px;
    }
}