@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


/****** variables & mixins ******/
@import "./variables.scss";
@import "./mixins.scss";

/****** style global site ******/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/****** class repet ******/

.box--shadow {
    @include box--shadow;
    &:hover {
        @include box--shadow--hover;
    }
}

.button--background {
    @include button-background;
    &:hover {
        @include button--background--hover;
    }
}


/****** Début header ******/
.header__block-logo {
    padding: 5px 0;
    .logo {
    text-align: center;
    margin: auto;
    font-size: 27px;
    }
}


/****** Début section position ******/

.position-city {
    background-color: lighten(black, 87);
    &__block-all {
        display: flex;
        flex-direction: row;
        column-gap: 17px;
        justify-content: center;
        align-items: center;
        height: 42px;
        box-shadow: inset 0 7px 7px -8px rgba(0,0,0,0.4);
        
    }
    &__block-icon {
        padding-bottom: 4px;
    }
    .fa-map-marker-alt {
        font-size: 14px;
        color: lighten(black, 15);
    }
    &__block-text {
        p {
            font-size: 14px;
            font-weight: 500;
            color: lighten(black, 15);
        }
    } 
}

/****** Début section présentation ******/
.presentation-functioning-no-mobil {
    @media screen and(min-width: 575px) {
        display: flex;
    }
    @media screen and(min-width: 820px) {
        display: block;
    }
}

.presentation {
    background-color: lighten(black, 92);
    @media screen and(min-width: 575px) {
        width: 50%;
    }
    @media screen and(min-width: 820px) {
        width: 100%;
    }
    &__block-all {
        padding: 40px 0 60px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__block-text {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        h2 {
            font-size: 22px;
            padding: 0 60px;
        }
        p {
            padding: 0 30px;
            color: lighten(black, 35);
        }
    }
    &__button {
        padding: 0.8em 1em;
        border-radius: 25px;
    }
    a {
        color: white;
        font-size: 15px;
    }
}

/****** Début section functioning ******/
.functioning {
    max-width: 900px;
    margin: auto;
    padding: 30px 0;
    @media screen and(min-width: 575px) {
        width: 50%;
    }
    @media screen and(min-width: 820px) {
        width: 100%;
    }
    h2 {
        font-size: 20px;
        margin: 0 0 20px 12px;
        @media screen and(min-width: 575px) {
            text-align: center;
        }
        @media screen and(min-width: 820px) {
            text-align: center;
        }
    }
    &__block-all {
        @media screen and(min-width: 820px) {
            display: flex;
        }
    }
    
    &__block {
        margin: 0 20px;
        height: 60px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: lighten(black, 92);
        position: relative;
        margin-bottom: 25px;
        transition: all 500ms;
        @media screen and(min-width: 820px) {
            width: 33%;
        }
        &:hover {
            background-color: lighten($color-primaire, 28);
            i {
                color: darken($color-primaire, 12);
            }
        }
    }
    &__block-num {
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        left: -8px;
        text-align: center;
        background-color: $color-primaire;
    }
    &__num {
        color: white;
        font-size: 11px;
    }
    &__icon-and-text {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-left: 10%;
        
    }
    &__block-icon {
        width: 18px;
        
    }
    .fa-list-ul, .fa-store, .fa-mobile-alt {
        font-size: 14px;
        color: lighten(black, 32);
        
    }
    h4 {
        font-size: 14px;
    }
}

/****** Début section restaurants******/

.restaurants {
    padding: 40px 18px;
    background-color: lighten(black, 92);
    @media screen and(min-width: 575px) {
        padding: 20px 18px;
        background-color: lighten(black, 95);
    }
    @media screen and(min-width: 820px) {
        padding: 20px 18px;
        background-color: lighten(black, 92);
    }
    h2 {
        font-size: 20px;
        margin: 0 0 20px 12px;
        @media screen and(min-width: 575px) {
            text-align: center;
        }
        @media screen and(min-width: 820px) {
            text-align: center;
        }
    }
    &__block-all {
        max-width: 900px;
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    &__block-column {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @media screen and(min-width: 575px) {
            display: flex;
            flex-direction: row;
            column-gap: 15px;
        }
    }

    &__block-card {
        height: 250px;
        position: relative;
        border-radius: 10px;
        @media screen and(min-width: 575px) {
            width: 50%;
        }
    }
    &__block-img {
        height: 70%;
        width: 100%;
        border-radius: 10px;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    &__block-text-icon {
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 0 12px;
        border-radius: 0 0 15px 15px;
    }
    &__block-text {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        p {
            color: lighten(black, 35);
        }
    }
    &__block-news {
        position: absolute;
        top: 20px;
        right: 10px;
        p {
            background-color: $color-tertiaire;
            color: darken($color-tertiaire, 38);
            font-weight: 500;
            padding: 0.4em 0.7em;
            border-radius: 5px;
        }
    }
    &__block-icon {
        font-size: 25px;
    }
    
}
/****** Début section footer******/
.footer {
    background-color: lighten(black, 22);
    color: white;
    padding: 20px 12px;
    h1 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
        @media screen and(min-width: 575px) {
            text-align: center;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        @media screen and(min-width: 575px) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    li, a {
        font-size: 12px;
        color: white;
    }
    
    .fa-utensils, .fa-hands-helping {
        width: 10px;
        margin-right: 10px;
    }
}