.icon {
    fill: transparent;
    stroke: black;
    stroke-width: 40;
    cursor: pointer;
    position: relative;
  
    svg {
      overflow: visible;
      width: 25px;
    }
  
    path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center;
    }
  
    .heart-background {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      stroke: none;
    }
  
    .heart-main:hover path {
        animation: stroke-animation 2s ease-in-out forwards;
        -moz-animation: stroke-animation 2s ease-in-out forwards; /* Firefox */
        -webkit-animation: stroke-animation 2s ease-in-out forwards; /* Safari et Chrome */
        -o-animation: stroke-animation 2s ease-in-out forwards; /* Opera */
    }
  
    .heart-main:hover ~ .heart-background path {
        animation: fade-animation 2s ease-in-out forwards;
        -moz-animation: fade-animation 2s ease-in-out forwards; /* Firefox */
        -webkit-animation: fade-animation 2s ease-in-out forwards; /* Safari et Chrome */
        -o-animation: fade-animation 2s ease-in-out forwards; /* Opera */
    }
}

/**** keyframes stroke animation *****/
@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0;
    }
    30% {
        stroke-dashoffset: 1550;
    }
    60% {
        stroke-dashoffset: 3100;
        fill: transparent;
      
    }
    80% {
        fill: url(#mygradient);
      
    }
    90% {
      
    }
    100% {
        stroke-dashoffset: 3100;
        fill: url(#mygradient);
        stroke: transparent;
    }
}
/* sur Firefox */
@-moz-keyframes stroke-animation {
    0% {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      
    }
    80% {
      fill: url(#mygradient);
      
    }
    90% {
      
    }
    100% {
      stroke-dashoffset: 3100;
      fill: url(#mygradient);
      stroke: transparent;
    }
}
/* sur Safari et Chrome */
@-webkit-keyframes stroke-animation { 
    0% {
        stroke-dashoffset: 0;
    }
    30% {
        stroke-dashoffset: 1550;
    }
    60% {
        stroke-dashoffset: 3100;
        fill: transparent;
        
    }
    80% {
        fill: url(#mygradient);
        
    }
    90% {
        
    }
    100% {
        stroke-dashoffset: 3100;
        fill: url(#mygradient);
        stroke: transparent;
    }
}
/* sur Opera */
@-o-keyframes stroke-animation { 
    0% {
        stroke-dashoffset: 0;
    }
    30% {
        stroke-dashoffset: 1550;
    }
    60% {
        stroke-dashoffset: 3100;
        fill: transparent;
        
    }
    80% {
        fill: url(#mygradient);
        
    }
    90% {
        
    }
    100% {
        stroke-dashoffset: 3100;
        fill: url(#mygradient);
        stroke: transparent;
    }
}

/**** keyframes fade animation *****/
  
@keyframes fade-animation {
    70% {
      fill: transparent;
    
    }
    80% {
      fill: url(#mygradient);
      
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      
      opacity: 0;
    }
}
/* sur Firefox */
@-moz-keyframes fade-animation {
    70% {
        fill: transparent;
      
    }
    80% {
        fill: url(#mygradient);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* sur Safari et Chrome */
@-webkit-keyframes fade-animation { 
    70% {
        fill: transparent;
      
    }
    80% {
        fill: url(#mygradient);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* sur Opera */
@-o-keyframes fade-animation { 
    70% {
        fill: transparent;
      
    }
    80% {
        fill: url(#mygradient);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}