 /* Le bloc html est juste placé au début  dans le fichier index.html*/


.block__loader {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: bk 3s ease-in forwards;
    -moz-animation: bk 3s ease-in forwards; /* Firefox */
    -webkit-animation: bk 3s ease-in forwards; /* Safari et Chrome */
    -o-animation: bk 3s ease-in forwards; /* Opera */
    ;
}
@keyframes bk {
    0% {
        
        opacity: 1;
    }
    100% {
        
        opacity: 0;
        z-index: -2;
    }
}

@-moz-keyframes bk {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -2;
        
    }
}
@-webkit-keyframes bk {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -2;
        
    }
}
@-o-keyframes bk {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -2;
        
    }
}



.loader {
    border-top: 10px solid $color-primaire;
    border-bottom: 10px solid $color-secondaire;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 4;
    animation: spin 2900ms ease-in forwards;
    -moz-animation: spin 2900ms ease-in forwards; /* Firefox */
    -webkit-animation: spin 2900ms ease-in forwards; /* Safari et Chrome */
    -o-animation: spin 2900ms ease-in forwards; /* Opera */
    
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
        z-index: -1;
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
        z-index: -1;
    }
}
